doctype html
html
  head
    title メモ帳超特急
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      block header
      block content
