extends layout

block header
  div.navbar
    div.menu-text メモ兆

block content
  div.container
    h1= pageTitle
    hr
    form(method="post", action="/new")
      label.label タイトル
        input.input(type="text", name="title")
      label.label メモ本文
        input.input(type="text", name="memo")
      button(type="submit").button 登録
      a(href="/").button 戻る